body {
    background-image: url(./foto/dkc2hd-e1518447804612.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    text-align: center;
    font-size: 100px;
    color: #fff;
    margin-top: 50px;

}

#color-palette {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.color {
    width: 75px;
    height: 75px;
    border-radius: 30px;
    border: 1px solid black;
    margin-right: 3px;
}

.one {
    background-color: black;
}

.two {
    background-color: #541f14;
}

.three {
    background-color: #938172;
}

.for {
    background-color: #cc9e61;
}

.five {
    background-color: white;
}

#pixel-board {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    flex-wrap: wrap;
    display: flex;
    background-color: black
}

.pixel {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    margin: 1px;
}

.container {
    margin-top: 30px;
    margin-bottom: 0;
    display: flex;
}

.button {
    margin-left: auto;
    margin-right: auto;
    border: 0;
    width: 100px;
    padding: 7px;
    background-color: #938172;
    border-radius: 10px;

}